*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "YOPQ" 300;
    user-select: none;
}

body{
    padding: 0rem 10rem;
}
/* Univeral variables below*/
:root{
    /* Colors */

    /* Primary */
    --Orange: hsl(26, 100%, 55%);
    --light-Orange: hsla(26, 100%, 55%, 0.596);
    --Pale-orange: hsl(25, 100%, 94%);

    /* Neutral */

    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    /* (with 75% opacity for lightbox background) */
}
/* Universal Varibales above */

/* Universal calsses below */
.fade{
    opacity: 60%;
}

.fade:hover{
    opacity: 100%;
}
/* Universal calsses above */


/* Navigation Bar Styling */
header{
    height: 100px;
}

nav{
    list-style: none;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

nav li{
    margin: 1.5rem 0rem;
    padding-right: 2.2rem;
    cursor: pointer;
    
}

nav li a{
    text-decoration: none;
    color: inherit;
    padding: 2.35rem 0rem;
}

nav li a:focus,
nav li a:active,
nav li a:hover{
    border-bottom: 3px solid var(--Orange);
}

nav li:nth-child(6){
    margin-right: auto;
}

hr{
    border: none;
    height: 1px;
    background-color: var(--Grayish-blue);
    opacity: 40%;
}

#logo{
margin-right: 1.2rem;
}

#cart{
    position: relative;
}

#cartBox{
    /* border: 1px solid red; */
    border-radius: 0.5rem;
    box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.181);
    height: 14.5rem;
    width: 24rem;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
    /* right: 20px; */
    top: 90px;
    transform: translateX(-50%);
    background: white;
    z-index: 1000;
    cursor:default;
}

#cartBox.visible{
    visibility: visible;
    opacity: 1;
}

#cartBox h4{
    padding: 1rem 1rem;
}

#cartNo{
   position: absolute;
   display: none;
   /* border: 1px solid red; */
   background-color: var(--Orange);
   font-weight: 700;
   border-radius: 0.5rem;
   height: 1rem;
   font-size: 0.8rem;
   padding: 0rem 0.5rem;
   color: white;
   transform: translateX(40%) translateY(-200%);
}

#outerEmptyBox{
    display: flex;
    height: calc(14.5rem - 52px);
    justify-content: center;
    align-items: center;
}

#emptyCart{
    font-weight: 700;
    color: var(--Dark-grayish-blue);
}

#outerCheckoutBox{
    /* border: 1px solid green; */
    border-radius: 0.5rem;
    display: none;
    height: calc(14.5rem - 52px);
    padding: 1.5rem;
}

#checkoutBox{
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1/2fr;
    /* align-items: center;
    justify-content: center; */
    grid-template-areas:
    'checkoutImg checkoutDescription checkoutDescription delete'
    'checkoutImg checkoutDescription checkoutDescription delete'
    'checkoutBtn checkoutBtn checkoutBtn checkoutBtn';
}

#checkoutImg{
    grid-area: checkoutImg;
    height: 3.4rem;
    width: 3.4rem;
    border-radius: 0.3rem;
} 

#checkoutDescription{
    grid-area: checkoutDescription;
    /* border: 1px solid red; */
    line-height: 1.5rem;
    padding: 0.1rem 0.5rem;
    color: var(--Dark-grayish-blue);
    font-size: 1.05rem;
}

#finalPrice{
    color: var(--Very-dark-blue);
}

#delete{
    grid-area: delete;
    align-self: center;
    justify-self: center;
    border: none;
    background-color: white;
    cursor: pointer;
}

#checkoutBtn{
    grid-area: checkoutBtn;
    border: none;
    background-color: var(--Orange);
    padding: 1rem;
    margin: 1.5rem 0rem;
    border-radius: 0.5rem;
    font-weight: 700;
    cursor: pointer;
    /* border: 1px solid red */
}

#avatar{
    width: 3rem;
    margin-right: -2rem;
    border: none;
    transition: border 0.1s ease-in-out;
}

#avatar:hover{
    border: 2px solid var(--Orange);
    border-radius: 50%;
}

/* Product Area Styling */
#outerBox{
    padding: 2.8rem 1rem;
    padding-bottom: 5rem;
    /* border: 1px solid red; */
    height: calc(100vh - 101px);
    display: flex;
    justify-content: center;
}

#productArea{
    /* border: 1px solid green; */
    display: grid;
    max-width: fit-content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'images details';
}

/* Product Images */
#productImages{
    grid-area: images;
    margin:2.5rem;
    max-width: 464px;
    max-height: 560px;
    /* border: 1px solid green; */
}

#productMainImages{
    display: flex;
    justify-content: center;
    margin-bottom: -1.8rem;
}

.productMainImages{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    padding: 0.7rem;
    height: 28rem;
    width: 28rem;
    border-radius: 1.5rem;
    /* border: 1px solid green; */
    transition: opacity 0.6s, visibility 0.6s ease-in-out;
}

.productMainImages.show{
    opacity: 1;
    visibility: visible;
    position: relative;
}

#productThumbnailImages{
    display: flex;
    justify-content: center;
    margin-top: 0.3rem;
    /* border: 1px solid green; */
}

#productThumbnailImages label{
    height: 5.4rem;
    width: 5.4rem;
    margin: 0.8rem;
    border-radius: 0.7rem;
    opacity: 1;
    transition: opacity 0.3s;
}

input[type = 'radio']{
    appearance: none;
}

.imageWrapper {
    display: inline-block;
    border: 2px solid transparent;
}

.selected {
    border-color: var(--Orange);
    border-radius: 0.8rem;
}

.productThumbnailImages{
    height: 5.4rem;
    width: 5.4rem;
    border-radius: 0.6rem;
    display: block;
    transition: opacity 0.3s;
    cursor: pointer;
}

#productThumbnailImages label:hover{
    opacity: 50%;
}

/* Product Details */
#productDetails{
    grid-area: details;
    margin: 2.5rem;
    max-width: 464px;
    padding: 3.5rem 1rem;
    /* border: 1px solid purple; */
}

#companyName{
    display: block;
    letter-spacing: 0.5mm;
    font-size: 0.8rem;
    font-weight: 650;
    color: var(--Dark-grayish-blue);
    margin-bottom: 0.8rem;
}

#productName{
    font-size: 2.7rem;
    font-weight: 700;
}

#description{
    margin-top: 2.5rem;
    line-height: 1.5rem;
    color: var(--Dark-grayish-blue);
    /* border: 1px solid red; */
}


/* Price Section */
#price{
    /* border: 1px solid red; */
    margin: 2rem 0rem;
}

#discountedPrice{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--Very-dark-blue);
    padding-right: 1rem;
}

#discount{
    padding: 3px 10px;
    background-color: var(--Very-dark-blue);
    border-radius: 6px;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
}

#actualPrice{
    margin-top: 0.5rem;
    color: var(--Dark-grayish-blue);
    font-weight: 700;
}

/* Add to cart bar */
#addToCartBar{
    display: flex;
    align-items: center;
    gap: 1rem
}

#noOfItems{
    display: flex;
    background-color: var(--Light-grayish-blue);
    border-radius: 10px;
    /* justify-content: center;
    align-items: center; */
}

#noOfItems button{
    opacity: 1;
    transition: opacity 0.3s;
}

#noOfItems button:hover{
    opacity: 60%;
}

#addToCartBar button{
    cursor: pointer;
}

#number{
    width: 19px;
}

#addToCartBar button,
#addToCartBar span{
    margin: 0.5rem;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    border: none;
    background: none;
}

#addToCartBtn{
    flex: 1;
    display: flex;
    background-color: var(--Orange);
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    opacity: 1;
    transition: background-color 0.3s;
}

#addToCartBtn:hover{
    background-color: var(--light-Orange);
}

#addToCartBtn button{
    color: var(--Very-dark-blue);
    font-weight: 700;
    font-size: 1rem;
    margin: 0.5rem 2rem;
    cursor: pointer;
}

#addToCartBtn img{
    height: 17px;
    margin-right: 1rem;
    cursor: pointer;
}

#toastMsg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 1rem 2rem;
    background-color: var(--Orange);
    color: var(--Very-dark-blue);
    position: fixed;
    top: -7rem;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.5s ease-in-out;
    z-index: 9999;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#toastMsg #main{
    display: flex;
    /* border: 1px solid black; */
    margin-bottom: 0.8rem;
}

#toastHeading{
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0.4rem 0.5rem;
}
#toastSubheading{
    color: var(--Dark-grayish-blue);
}

/* Lightbox Styles */
.lightbox {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.lightbox-content {
    margin:2.5rem;
    max-width: 464px;
    max-height: 560px;
}

#lightbox-img {
    max-width: 30rem;
    height: 30rem;
    border-radius: 1.5rem;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.lightbox-thumbnails {
    display: flex;
    justify-content: center;
    /* height: 80px; */
    padding: 10px;
    margin-top: 0.3rem;
    /* background-color: white; */
}

.lightbox-thumbnails span{
    /* border: 1px solid red; */
    margin: 0.8rem;
    border-radius: 0.7rem;
    border: 2px solid var(--Orange);
    opacity: 1;
    width: 5.4rem;
    height: 5.4rem;
    background-color: white;
    position: relative;
}

.lightbox-thumbnail{
    position: absolute;
    top: -2px;
    left: -2px;
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: opacity 0.3s;
}

.lightbox-thumbnail:hover{
    opacity: 50%;
}

.lightbox-thumbnail.selected{
    opacity: 25%;
    border-color: var(--Orange);
}