* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "YOPQ" 300;
    user-select: none;
}

body {
    padding: 0rem 10rem;
}

.attribution{
    position: fixed;
    bottom: 5px;
    right: 5px;
}

/* Univeral variables below*/
:root {
    /* Colors */

    /* Primary */
    --Orange: hsl(26, 100%, 55%);
    --light-Orange: hsla(26, 100%, 55%, 0.596);
    --Pale-orange: hsl(25, 100%, 94%);

    /* Neutral */

    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
}

/* Universal Varibales above */

/* Universal calsses below */
.fade {
    opacity: 60%;
}

.fade:hover{
    opacity: 100%;
}

/* Universal calsses above */


/* Navigation Bar Styling */
header {
    height: 100px;
}

nav {
    list-style: none;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

nav li {
    flex-shrink: 1;
    margin: 1.5rem 0rem;
    padding-right: 2.2rem;
    cursor: pointer;

}

nav li a {
    text-decoration: none;
    color: inherit;
    padding: 2.35rem 0rem;
}

nav li a:focus,
nav li a:active {
    border-bottom: 3px solid var(--Orange);
}

nav li:nth-child(7) {
    margin-right: auto;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--Grayish-blue);
    opacity: 40%;
}

#menu{
    display: none;
    margin: 1rem;
}

#logo {
    margin-right: 1.2rem;
}

#cart {
    position: relative;
}

#cartBox {
    /* border: 1px solid red; */
    border-radius: 0.5rem;
    box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.181);
    height: 14.5rem;
    width: 24rem;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
    /* right: 20px; */
    top: 90px;
    transform: translateX(-50%);
    background: white;
    z-index: 1000;
    cursor: default;
}

#cartBox.visible {
    visibility: visible;
    opacity: 1;
}

#cartBox h4 {
    padding: 1rem 1rem;
}

#cartNo {
    position: absolute;
    display: none;
    /* border: 1px solid red; */
    background-color: var(--Orange);
    font-weight: 700;
    border-radius: 0.5rem;
    height: 1rem;
    font-size: 0.8rem;
    padding: 0rem 0.5rem;
    color: white;
    transform: translateX(40%) translateY(-200%);
}

#outerEmptyBox {
    display: flex;
    height: calc(14.5rem - 52px);
    justify-content: center;
    align-items: center;
}

#emptyCart {
    font-weight: 700;
    color: var(--Dark-grayish-blue);
}

#outerCheckoutBox {
    /* border: 1px solid green; */
    border-radius: 0.5rem;
    display: none;
    height: calc(14.5rem - 52px);
    padding: 1.5rem;
}

#checkoutBox {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1/2fr;
    /* align-items: center;
    justify-content: center; */
    grid-template-areas:
        'checkoutImg checkoutDescription checkoutDescription delete'
        'checkoutImg checkoutDescription checkoutDescription delete'
        'checkoutBtn checkoutBtn checkoutBtn checkoutBtn';
}

#checkoutImg {
    grid-area: checkoutImg;
    height: 3.4rem;
    width: 3.4rem;
    border-radius: 0.3rem;
}

#checkoutDescription {
    grid-area: checkoutDescription;
    /* border: 1px solid red; */
    line-height: 1.5rem;
    padding: 0.1rem 0.5rem;
    color: var(--Dark-grayish-blue);
    font-size: 1.05rem;
}

#finalPrice {
    color: var(--Very-dark-blue);
}

#delete {
    grid-area: delete;
    align-self: center;
    justify-self: center;
    border: none;
    background-color: white;
    cursor: pointer;
}

#checkoutBtn {
    grid-area: checkoutBtn;
    border: none;
    background-color: var(--Orange);
    padding: 1rem;
    margin: 1.5rem 0rem;
    border-radius: 0.5rem;
    font-weight: 700;
    cursor: pointer;
    /* border: 1px solid red */
}

#avatar {
    width: 3rem;
    margin-right: -2rem;
    border: none;
    transition: border 0.1s ease-in-out;
}

#avatar:hover {
    border: 2px solid var(--Orange);
    border-radius: 50%;
}

/* Product Area Styling */
#outerBox {
    padding: 2.8rem 1rem;
    padding-bottom: 5rem;
    /* border: 1px solid red; */
    max-height: calc(100vh - 101px);
    display: flex;
    justify-content: center;
}

#productArea {
    /* border: 1px solid green; */
    flex: 1;
    display: grid;
    max-width: fit-content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'images details';
}

/* Product Images */
#productImages {
    display: flex;
    flex-direction: column;
    grid-area: images;
    margin: 2.5rem;
    max-width: 464px;
    max-height: 560px;
    /* border: 1px solid green; */
}

#productMainImages {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-bottom: -1.8rem;
}

#mainArrowBtn{
    display: none;
}

#prevMain{
    transform: translate(-1000%, 300%);
    border: none;
}

#nextMain{
    transform: translate(0%, 300%);
    border: none;
}

.productMainImages,
#lightbox-img {
    flex: 1;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    padding: 0.7rem;
    height: 28rem;
    width: 28rem;
    border-radius: 1.5rem;
    /* border: 1px solid green; */
    transition: opacity 0.5s ease-in;
}

.productMainImages.show,
#lightbox-img {
    opacity: 1;
    visibility: visible;
    position: relative;
}

#productThumbnailImages {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 0.3rem;
    /* border: 1px solid green; */
}

#productThumbnailImages label {
    flex: 1;
    height: 5.4rem;
    width: 5.4rem;
    margin: 0.8rem;
    border-radius: 0.7rem;
    opacity: 1;
    transition: opacity 0.3s;
}

input[type='radio'] {
    appearance: none;
}

.imageWrapper {
    display: inline-block;
    border: 2px solid transparent;
}

.selected {
    border-color: var(--Orange);
    border-radius: 0.8rem;
}

.productThumbnailImages {
    height: 5.4rem;
    width: 5.4rem;
    border-radius: 0.6rem;
    display: block;
    transition: opacity 0.3s;
    cursor: pointer;
}

#productThumbnailImages label:hover {
    opacity: 50%;
}

/* Product Details */
#productDetails {
    grid-area: details;
    margin: 2.5rem;
    max-width: 464px;
    padding: 3.5rem 1rem;
    display: flex;
    flex-direction: column;
    /* border: 1px solid purple; */
}

#companyName {
    flex: 1;
    display: block;
    letter-spacing: 0.5mm;
    font-size: 0.8rem;
    font-weight: 650;
    color: var(--Dark-grayish-blue);
    margin-bottom: 0.8rem;
}

#productName {
    font-size: 2.7rem;
    font-weight: 700;
}

#description {
    margin-top: 2.5rem;
    line-height: 1.5rem;
    color: var(--Dark-grayish-blue);
    /* border: 1px solid red; */
}


/* Price Section */
#price {
    /* border: 1px solid red; */
    margin: 2rem 0rem;
}

#discountedPrice {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--Very-dark-blue);
    padding-right: 1rem;
}

#discount {
    padding: 3px 10px;
    background-color: var(--Very-dark-blue);
    border-radius: 6px;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
}

#actualPrice {
    margin-top: 0.5rem;
    color: var(--Dark-grayish-blue);
    font-weight: 700;
}

/* Add to cart bar */
#addToCartBar {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem
}

#noOfItems {
    display: flex;
    background-color: var(--Light-grayish-blue);
    border-radius: 10px;
    /* justify-content: center;
    align-items: center; */
}

#noOfItems button {
    opacity: 1;
    transition: opacity 0.3s;
}

#noOfItems button:hover {
    opacity: 60%;
}

#addToCartBar button {
    cursor: pointer;
}

#number{
    max-width: 25px;
    justify-content: center;
}

#number.number{
    width: 25px;
    text-align: center;
    padding: 0rem;
}

#addToCartBar button,
#addToCartBar span {
    margin: 0.5rem;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    border: none;
    background: none;
}

#addToCartBtn {
    flex: 1;
    display: flex;
    background-color: var(--Orange);
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    opacity: 1;
    transition: background-color 0.3s;
}

#addToCartBtn:hover {
    background-color: var(--light-Orange);
}

#addToCartBtn button {
    color: var(--Very-dark-blue);
    font-weight: 700;
    font-size: 1rem;
    margin: 0.5rem 2rem;
    cursor: pointer;
}

#addToCartBtn img {
    height: 17px;
    margin-right: 1rem;
    cursor: pointer;
}

#toastMsg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 1rem 2rem;
    background-color: var(--Orange);
    color: var(--Very-dark-blue);
    position: fixed;
    top: -7rem;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.5s ease-in-out;
    z-index: 9999;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#toastMsg #main {
    display: flex;
    /* border: 1px solid black; */
    margin-bottom: 0.8rem;
}

#toastHeading {
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0.4rem 0.5rem;
}

#toastSubheading {
    color: var(--Dark-grayish-blue);
}

/* Lightbox Styles */
.lightbox {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.75);
}

.lightbox-content {
    margin: 2.5rem;
    max-width: 464px;
    max-height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lightbox-img {
    width: 30rem;
    height: 30rem;
}

#close {
    position: absolute;
    transform: translateX(1550%) translateY(-1600%);
    z-index: 100;
    transition: 0.3s;
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    user-select: none;
    z-index: 100;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #fff;
}

.prev {
    transform: translateX(-460%) translateY(-140%);
    padding-right: 5px;
}

.next {
    transform: translateX(460%) translateY(-140%);
}

.lightbox-thumbnails {
    display: flex;
    justify-content: center;
    /* height: 80px; */
    padding: 10px;
    margin-top: 0.3rem;
    /* background-color: white; */
}

.lightbox-thumbnails span {
    /* border: 1px solid red; */
    margin: 0.8rem;
    border-radius: 0.7rem;
    border: 2px solid var(--Orange);
    opacity: 1;
    width: 5.4rem;
    height: 5.4rem;
    background-color: white;
    position: relative;
}

.lightbox-thumbnail {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: opacity 0.3s;
}

.lightbox-thumbnail:hover {
    opacity: 50%;
}

.lightbox-thumbnail.selected {
    opacity: 25%;
    border-color: var(--Orange);
}

#menuContainer{
    height: 150vh;
    width: 150vw;
    display: none;
    z-index: 200;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

#menuSections{
    position: relative;
    left: -100%;
    width: 70vw;
    height: 150vh;
    background-color: white;
    list-style: none;
    transition: left 0.5s ease;
}

#menuSections li{
    margin: 2rem;
}

#menuSections li a{
    text-decoration: none;
    color: var(--Very-dark-blue);
    font-size: 1.5rem;
    font-weight: 700;
}

#closeMenu{
    border: none;
    background-color: transparent;
    margin: 2rem;
}

#closeMenu img{
    height: 1.3rem;
}

@media only screen and (min-width: 1250px) and (max-width: 1350px) {
    body {
        padding: 0rem 8rem;
    }

    ;

    /* Product Area Styling */
    #outerBox {
        padding-bottom: 3rem;
    }

    /* Product Images */
    #productImages {
        margin: 2rem;
    }

    #productDetails {
        margin: 2rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1250px) {

    body {
        padding: 0rem 6rem;
    }

    /* Product Area Styling */
    #outerBox {
        padding: 2.8rem 0.5rem;
        padding-bottom: 3rem;
    }

    /* Product Images */
    #productImages {
        margin: 2rem;
        margin-right: 1rem;
        max-width: 424px;
        max-height: 520px;
    }

    #productMainImages {
        margin-bottom: -0.5rem;
    }

    .productMainImages,
    #lightbox-img {
        height: 24rem;
        width: 24rem;
    }

    .selected {
        border-color: var(--Orange);
        border-radius: 0.7rem;
    }

    #productThumbnailImages {
        margin-top: 0.6rem;
        /* border: 1px solid green; */
    }

    #productThumbnailImages label {
        height: 4.8rem;
        width: 4.8rem;
        margin: 0.2rem;
        border-radius: 0.5rem;
    }

    .productThumbnailImages {
        height: 4.8rem;
        width: 4.8rem;
        border-radius: 0.5rem;
    }

    /* Product Details */
    #productDetails {
        margin: 2rem 1rem;
        max-width: 424px;
        padding: 2rem 1rem;
    }

    #companyName {
        letter-spacing: 0.5mm;
        font-size: 0.7rem;
    }

    #productName {
        font-size: 2.3rem;
    }

    #description {
        margin-top: 1.7rem;
        line-height: 1.4rem;
        font-size: 0.9rem;
    }


    /* Price Section */
    #discount {
        padding: 3px 8px;
        font-size: 0.8rem;
    }

    /* Add to cart bar */
    #addToCartBar {
        gap: 0.5rem
    }

    #noOfItems {
        border-radius: 10px;
    }

    #number {
        max-width: 15px;
    }

    #addToCartBar button,
    #addToCartBar span {
        font-size: 0.9rem;
        margin: 0.5rem;
    }

    #addToCartBtn button {
        font-size: 0.9rem;
        margin: 0.5rem 1rem;
    }

    #addToCartBtn img {
        height: 15px;
        margin-right: 0.3rem;
    }

    /* Lightbox Styles */
    #lightbox-img {
        width: 30rem;
        height: 30rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        padding: 0rem 2rem;
    }

    nav li {
        padding-right: 1.5rem;
    }

    nav li a {
        font-size: 0.8rem;
    }

    #logo {
        margin-right: 0.8rem;
    }

    /* Product Area Styling */
    #productArea {
        /* border: 1px solid red; */
        max-width: 50rem;
    }

    #outerBox {
        padding: 2.8rem 0rem;
        padding-bottom: 3rem;
    }

    /* Product Images */
    #productImages {
        margin: 2rem;
        margin-right: 0.75rem;
        max-width: 315px;
        max-height: 410px;
        /* border: 1px solid red; */
    }

    #productMainImages {
        margin-bottom: -0.5rem;
    }

    .productMainImages,
    #lightbox-img {
        height: 20.5rem;
        width: 20.5rem;
    }

    .selected {
        border-radius: 0.7rem;
    }

    #productThumbnailImages {
        max-width: 315px;
        margin-top: 0.5rem;
        /* border: 1px solid green; */
    }

    #productThumbnailImages label {
        height: 4rem;
        width: 4rem;
        margin: 0.15rem;
        border-radius: 0.5rem;
    }

    .productThumbnailImages {
        height: 4rem;
        width: 4rem;
        border-radius: 0.5rem;
    }

    /* Product Details */
    #productDetails {
        /* border: 1px solid red; */
        margin: 2rem 1rem;
        max-width: 424px;
        padding: 2rem 1rem;
    }

    #companyName {
        letter-spacing: 0.5mm;
        font-size: 0.6rem;
        margin-bottom: 0.5rem;
        height: 1rem;
    }

    #productName {
        font-size: 1.7rem;
    }

    #description {
        margin-top: 1rem;
        line-height: 1.2rem;
        font-size: 0.85rem;
    }


    /* Price Section */
    #price {
        /* border: 1px solid red; */
        margin: 1rem 0rem;
    }

    #discountedPrice {
        font-size: 1.6rem;
        font-weight: 700;
        padding-right: 0.5rem;
    }

    #discount {
        padding: 3px 8px;
        font-size: 0.8rem;
        padding: 3px 10px;
        background-color: var(--Very-dark-blue);
        border-radius: 6px;
        color: white;
        font-size: 0.9rem;
        font-weight: 500;
    }

    #actualPrice {
        margin-top: 0.35rem;
        color: var(--Dark-grayish-blue);
        font-weight: 700;
    }

    /* Add to cart bar */
    #addToCartBar {
        gap: 0.5rem;
    }

    #noOfItems {
        border-radius: 10px;
        height: 45px;
    }

    #number {
        width: 10px;
        margin: 0;
    }

    #addToCartBar button,
    #addToCartBar span {
        font-size: 0.8rem;
        margin: 0.5rem;
    }

    #addToCartBtn {
        height: 45px;
    }

    #addToCartBtn button {
        font-size: 0.8rem;
        margin: 0.5rem 1rem;
    }

    #addToCartBtn img {
        height: 15px;
        margin-right: 0.3rem;
    }

    #cartBox {
        /* border: 1px solid red; */
        height: 12rem;
        width: 19.8rem;
        transform: translateX(-60%);
    }

    #cartBox h4 {
        font-size: 0.9rem;
        padding: 0.7rem 0.7rem;
    }

    #cartNo {
        font-size: 0.7rem;
        padding: 0rem 0.4rem;
        transform: translateX(45%) translateY(-200%);
    }

    #outerEmptyBox {
        height: calc(12rem - 38.375px);
    }

    #outerCheckoutBox {
        height: calc(12rem - 38.375px);
        padding: 1rem;
    }

    #checkoutDescription {
        padding: 0.1rem 0.5rem;
        font-size: 0.9rem;
    }

    #checkoutBtn {
        padding: 0.8rem;
        margin: 1.2rem 0rem;
    }

    /* Lightbox Styles */
    .lightbox-content {
        margin: 2rem;
        max-width: 464px;
        max-height: 560px;
    }

    #lightbox-img {
        width: 24rem;
        height: 24rem;
    }

    #close {
        transform: translateX(1200%) translateY(-1300%);
    }

    #prev,
    #next {
        height: 45px;
        width: 45px;
    }

    #prev {
        transform: translateX(-410%) translateY(-120%);
    }

    #next {
        transform: translateX(410%) translateY(-120%);
    }

    .lightbox-thumbnails {
        margin-top: 0rem;
    }

    .lightbox-thumbnails span {
        margin: 0.5rem;
        width: 4rem;
        height: 4rem;
    }

    .lightbox-thumbnail {
        width: 4rem;
        height: 4rem;
    }
}

@media only screen and (min-width: 560px) and (max-width: 768px) {
    body {
        padding: 0rem 1rem;
    }
    
    /* Navigation Bar Styling */
    header {
        height: 100px;
    }
    
    nav li {
        margin: 1.5rem 0rem;
        padding-right: 0rem;
    }
    
    nav li a {
        display: none;
    }
    
    nav li a:focus,
    nav li a:active {
        border-bottom: 3px solid var(--Orange);
    }
    
    nav li:nth-child(7) {
        margin-right: 0;
    }

    nav li:nth-child(2) {
        margin-right: auto;
    }
    
    hr {
        border: none;
        height: 1px;
        background-color: var(--Grayish-blue);
        opacity: 40%;
    }
    
    #menu{
        display: flex;
    }

    #logo {
        margin-right: 1.2rem;
    }
    
    #cart {
        padding: 1.5rem;
    }
    
    #cartBox {
        height: 14.5rem;
        width: 24rem;
        transform: translateX(-75%);
    }
    
    #cartBox h4 {
        padding: 1rem 1rem;
    }
    
    #cartNo {
        width: 25px;
        text-align: center;
        font-size: 0.7rem;
        padding: 0rem 0.4rem;
        transform: translateX(130%) translateY(-365%);
    }
    
    #avatar {
        margin-right: 0rem;
    }
    
    /* Product Area Styling */
    #outerBox {
        padding: 0;
        /* border: 1px solid red; */
        height: calc(100vh - 101px);
        max-height: 1024px;
        width: calc(100vw - 2rem);
        display: flex;
        justify-content: center;
    }
    
    #productArea {
        flex: 0;
        display: grid;
        justify-self: center;
        width: calc(100vw - 2rem);
        height: calc(100vh - 101px);
        max-height: 1024px;
        padding-bottom: 2rem;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 0fr 0fr;
        grid-template-areas:
        'images' 'details';
    }
    
    /* Product Images */
    #productImages {
        display: flex;
        flex: 0;
        flex-direction: column;
        justify-content: center;
        margin: 2rem;
        margin-bottom: 0rem;
        max-width: 464px;
        max-height: 380px;
        /* border: 1px solid green; */
    }
    
    #productMainImages {
        flex: 0;
        margin-bottom: 0rem;
    }
    
    .productMainImages,
    #lightbox-img {
        padding: 0.7rem;
        height: 22rem;
        width: 28rem;
        object-fit: cover;
    }
    
    #productThumbnailImages {
        display: none;
    }

    /* Product Details */
    #productDetails {
        margin: 2rem;
        max-width: 464px;
        padding: 0.1rem 1rem;
        padding-bottom: 2rem;
    }
}

@media only screen and (min-width: 375px) and (max-width: 560px){
    
    body {
        padding: 0rem 0.5rem;
    }
    
    /* Navigation Bar Styling */
    header {
        height: 80px;
    }
    
    nav li {
        margin: 0.4rem 0rem;
        padding-right: 0rem;
    }
    
    nav li a {
        display: none;
    }
    
    nav li:nth-child(7) {
        margin-right: 0;
    }

    nav li:nth-child(2) {
        margin-right: auto;
    }
    
    #menu{
        display: flex;
    }

    #logo {
        margin-right: 1rem;
    }
    
    #cart {
        padding: 1.5rem;
    }
    
    #cartBox {
        height: 14.5rem;
        width: 22rem;
        transform: translateX(-67%);
    }
    
    #cartBox h4 {
        padding: 1rem 1rem;
    }
    
    #checkoutDescription {
        font-size: 1rem;
    }

    #cartNo {
        width: 25px;
        text-align: center;
        font-size: 0.7rem;
        padding: 0rem 0.4rem;
        transform: translate(130%, -360%);
    }
    
    #avatar {
        margin-right: 0rem;
    }
    
    /* Product Area Styling */
    #outerBox {
        padding: 0;
        /* border: 1px solid red; */
        height: calc(100vh - 101px);
        max-height: 1024px;
        width: calc(100vw - 1rem);
        display: flex;
        justify-content: center;
    }
    
    #productArea {
        flex: 0;
        justify-self: center;
        width: calc(100vw - 1rem);
        max-height: 1024px;
        padding-bottom: 2rem;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 0fr 0fr;
        grid-template-areas:
        'images' 'details';
    }
    
    /* Product Images */
    #productImages {
        flex: 0;
        flex-direction: column;
        justify-content: center;
        margin: 1rem;
        margin-bottom: 0rem;
        max-width: 374px;
        max-height: 380px;
    }
    
    #productMainImages {
        flex: 0;
        margin-bottom: 0rem;
    }

    .productMainImages,
    #lightbox-img {
        padding: 0.7rem;
        height: 18rem;
        width: 20.8rem;
        object-fit: cover;
    }

    #prevMain,
    #nextMain{
        border: none;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }
    #prevMain{
        transform: translate(-760%, 270%);
        padding-right: 3.5px;
    }
    
    #nextMain{
        transform: translate(-75%, 270%);
    }
    
    .prev,
    .next {
        height: 45px;
        width: 45px;
    }
    
    #productThumbnailImages {
        display: none;
    }

    /* Product Details */
    #productDetails {
        margin: 1rem 1rem;
        max-width: 464px;
        padding: 0.1rem 1rem;
        padding-bottom: 2rem;
    }

    #companyName {
        flex: 1;
        letter-spacing: 0.5mm;
        font-size: 0.8rem;
        margin-bottom: 0.8rem;
    }
    
    #productName {
        font-size: 2.2rem;
        font-weight: 700;
    }
    
    #description {
        margin-top: 2rem;
    }

    /* Add to cart bar */
    #addToCartBar {
        flex: 1;
        display: block;
        gap: 0rem;
    }

    #noOfItems {
        height: 55px;
        margin-bottom: 1rem;
        justify-content: center;
        align-items: center;
    }

    #noOfItems button {
        padding: 0rem;
        flex: 1;
        justify-content: center;
    }

    #number{
        max-width: 25px;
        justify-content: center;
    }

    #number.number{
        width: 25px;
        text-align: center;
        padding: 0rem;
    }

    #addToCartBtn {
        height: 55px;
    }

    #toastMsg {
        left: 30%;
        transform: translateX(-20%);
    }
}
@media only screen and (max-width: 375px){
    
    body {
        padding: 0rem 0rem;
    }
    
    /* Navigation Bar Styling */
    header {
        height: 70px;
        width: 375px;
    }
    
    nav li {
        margin: 0rem;
        padding-right: 0rem;
    }
    
    nav li a {
        display: none;
    }
    
    nav li:nth-child(7) {
        margin-right: 0;
    }

    nav li:nth-child(2) {
        margin-right: auto;
    }
    
    #menu{
        display: flex;
    }

    #logo {
        margin-right: 1rem;
    }
    
    #cart {
        padding: 1.5rem;
    }
    
    #cartBox {
        top: 85px;
        height: 15rem;
        width: 22.3rem;
        transform: translateX(-71.5%);
    }
    
    #cartBox h4 {
        padding: 1.1rem 1rem;
    }
    
    #checkoutDescription {
        font-size: 1rem;
    }

    #cartNo {
        width: 25px;
        text-align: center;
        font-size: 0.7rem;
        padding: 0rem 0.4rem;
        transform: translate(130%, -360%);
    }
    
    #avatar {
        margin-right: 1rem;
        width: 25px;
    }

    #nav-hr{
        display: none;
    }
    
    /* Product Area Styling */
    #outerBox {
        padding: 0;
        /* border: 1px solid red; */
        height: calc(100vh - 70px);
        max-height: 900px;
        width: calc(100vw);
    }
    
    #productArea {
        flex: 0;
        justify-self: center;
        width: calc(100vw);
        max-height: 900px;
        padding-bottom: 2rem;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 0fr 0fr;
        grid-template-areas:
        'images' 'details';
    }
    
    /* Product Images */
    #productImages {
        flex: 0;
        flex-direction: column;
        justify-content: center;
        margin: 0rem;
        margin-bottom: 0rem;
        max-width: 375px;
        max-height: 380px;
    }
    
    #productMainImages {
        flex: 0;
        margin-bottom: 0rem;
    }

    .productMainImages,
    #lightbox-img {
        padding: 0rem;
        height: 18rem;
        width: 375px;
        object-fit: cover;
        border-radius: 0;
    }

    #prevMain,
    #nextMain{
        border: none;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        
    }

    #prevMain img,
    #nextMain img{
        height: 13px;
    }

    #prevMain{
        transform: translate(-900%, 300%);
        /* padding-right: 3.5px; */
    }
    
    #nextMain{
        transform: translate(-138%, 300%);
    }
    
    .prev,
    .next {
        height: 40px;
        width: 40px;
    }
    
    #productThumbnailImages {
        display: none;
    }

    /* Product Details */
    #productDetails {
        margin: 1rem 1rem;
        max-width: 464px;
        padding: 0.1rem 0.5rem;
        padding-bottom: 2rem;
    }

    #companyName {
        flex: 1;
        letter-spacing: 0.5mm;
        font-size: 0.8rem;
        margin-bottom: 0.8rem;
    }
    
    #productName {
        font-size: 1.9rem;
        font-weight: 700;
    }
    
    #description {
        font-size: 0.95rem;
        margin-top: 1rem;
    }

    /* Price Section */
    #price {
        display: flex;
        /* border: 1px solid red; */
        margin: 2rem 0rem;
    }
    
    #discount {
        align-self: flex-end;
        font-size: 0.9rem;
        margin-right: auto;
        margin-bottom: 0.2rem;
    }
    
    #actualPrice {
        margin-top: 0.5rem;
        color: var(--Dark-grayish-blue);
        font-weight: 700;
    }
    /* Add to cart bar */
    #addToCartBar {
        flex: 1;
        display: block;
        gap: 0rem;
    }

    #noOfItems {
        height: 55px;
        margin-bottom: 1rem;
        justify-content: center;
        align-items: center;
        font-weight: 700;
    }

    #noOfItems button {
        padding: 0rem;
        flex: 1;
        justify-content: center;
    }

    #number{
        max-width: 25px;
        justify-content: center;
    }

    #number.number{
        width: 25px;
        text-align: center;
        padding: 0rem;
    }

    #addToCartBtn {
        height: 55px;
    }

    #toastMsg {
        left: 30%;
        transform: translateX(-20%);
    }
    

    #menuSections li{
        margin: 1.5rem;
    }
    
    #menuSections li a{
        font-size: 1rem;
    }
    
    #closeMenu{
        margin: 1.5rem;
    }
    
    #closeMenu img{
        height: 1rem;
    }
}